.editName {
  background: transparent;
  border: none;
  cursor: pointer;
}

button:hover, .fa-trash:hover {
  transform: scale(1.3);
}

.expanded-view{
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  width: 400px;
  height: 530px;
  background-color: rgba(0, 0, 0, 0.719); 
  backdrop-filter: blur(10px);
  border-radius: 20px;
  color: whitesmoke;
  margin-top: 20px;
  animation: fadeIn .5s;
}

#user-image {
  width: 90px;
  border-radius: 50%;
}

.song-title-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  h1{
    margin-right: 10px;
    font-size: 30px;
  }
  input{
    margin-right: 10px;
    height: 35px;
    width: 200px;
    font-size: 25px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);  
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border: none;
    padding-left: 10px;
  }
}

.expanded-like-and-play-button-div{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
}

.comment-scroll {
  margin-top: 20px;
  overflow-y: scroll;
  max-height: 200px;
  padding: 10px;
  margin-bottom: 20px;
  width: 90%;
  border-bottom: 1px solid rgba(158, 158, 158, 0.699);
  border-top: 1px solid rgba(158, 158, 158, 0.699);
}


.comment-scroll div {
  background-color: rgba(128, 128, 128, 0.301);
  border-radius: 15px;
  color: white;
  padding: 8px;
  padding-left: 10px;
  margin-bottom: 10px;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;

  .comment-text {
    background: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    

    h4{
      font-size: 15px;
      font-weight: bold;
      margin: 5px 0 5px 0;
      padding-top: 10px;
    }
    p {
      font-size: 18px;
      margin-top: 5px;
      word-break: break-word;
      
      padding-bottom: 15px;
    }
  }
  .fa-trash {
    color:red;
  }
} 


.add-comment{
  display: flex;
  flex-direction:column;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  textarea{
    width: 100%;
    height: 70px;
    resize: none;
  }

  button{
    margin-top: 3px;
    font-size: 15px;
    width: 90px;
    height: 30px;
    background-color: rgba(187, 187, 187, 0.575);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
}

.delete-edit-buttons{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
  button {
    margin: 5px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    background-color: rgba(187, 187, 187, 0.575);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
}

.delete-confirm{
  display: flex;
  position:absolute;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: rgba(102, 0, 0, 0.774); 
  backdrop-filter: blur(10px);
  border-radius: 20px;
  color: whitesmoke;
  button {
    font-size: 15px;
    width: 100px;
    height: 30px;
    background-color: rgba(187, 187, 187, 0.575);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
  .delete-button{
    background-color: rgba(168, 2, 2, 0.671);
  }


  }


.close {
  background: none;
  border: none;
  color: whitesmoke;
  position: absolute;
  font-size: 15px;
  cursor: pointer;
  top: 4%;
  right: 5%;
  transition: all .5s ease-in-out;
}
.close:hover {
  transform: scale(1.2);
  font-weight: bold;
}
button:hover {
  transform: scale(1.1)
}

.commentForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  textArea {
    background-color: rgba(255, 255, 255, 0);  
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border: none;
    padding: 10px;
    color: whitesmoke;
  }
  button {
    background: none;
  }
}



textArea:focus, input:focus, select:focus, button:focus {
  outline-width: 0;
}