
.button-div {
  width: 100%;
  display: flex;
  
  // flex-wrap: wrap;
  font-size: 20px;
  margin: 0 5px;
  // z-index: -1;
}

.grid-parent{
  display: flex;
  justify-content: center;
  width: auto;
  
}

.grid{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  button:hover {
    transform: scale(0.95) !important;
  }
}



.music-button{
  flex: 1;
  padding: 1.7em;
  position: relative;
  
  border: 2px solid transparent; 
  margin: 1px;
  background-color: rgb(255, 255, 255);
  // z-index: 0;
  
}

.isPlaying {
  border-color: #ffffff;
}



.controls{
  display: flex;
  margin-top: 25px;
  width: 100%;
  justify-content: space-evenly;
  
}

#clear-notes{
  font-size: 15px;
  width: 100px;
  height: 30px;
  background-color: rgba(187, 53, 53, 0.575);
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  transition: all .5s ease-in-out;
  margin-top: 3px;
}

#save-button{
  width: 50px;
  margin-top: -30px;
}

#bpm-controls{
  margin-top: 5px;   
}

#performance-button{
  margin-top: 20px;
  font-size: 15px;
  width: 150px;
  height: 30px;
  background-color: rgba(255, 174, 0, 0.575);
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.play-button{
  padding: 8px;
}

.testDiv{
  display: flex;
}

.saveButton {
  background: none;
  border: none;
}


.clicked.C5 {
  background-color: rgb(254, 200, 216);
}
.clicked.B4 {
  background-color: rgb(224, 187, 228);
}
.clicked.A4 {
  background-color: rgb(199, 206, 234);
}
.clicked.G4 {
  background-color: rgb(181, 234, 215);
}
.clicked.F4 {
  background-color: rgb(226, 240, 203);
}
.clicked.E4 {
  background-color: rgb(255, 218, 193);
}
.clicked.D4{
  background-color: rgb(255, 183, 178);
}
.clicked.C4{
  background-color: rgb(255, 154, 162);
}

// Slider from https://codepen.io/renaudtertrais/pen/waLXVx

input[type=range] {
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1;
  height: 2em;
  background-color: transparent;
  cursor: pointer;

  // * * * RESET * * *

  -webkit-appearance: none;
  width: 100%;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  &:focus {
    outline: none;
  }
  &::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  // * * * TRUMP * * *

  // .mx-trange-trump(){
  //   width: 2em;
  //   height: 2em;
  //   margin-top: 0;
  //   background-color: 16px;
  //   border-radius: 1em;
  //   border: 2px solid rgba(255,255,255,.5);
  //   cursor: pointer;
  // }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2em;
    height: 2em;
    margin-top: 0;
    background-color: white;
    border-radius: 1em;
    border: 2px solid rgba(255,255,255,.5);
    cursor: pointer;;
  }

  &::-moz-range-thumb {
    width: 2em;
    height: 2em;
    margin-top: 0;
    background-color: white;
    border-radius: 1em;
    border: 2px solid rgba(255,255,255,.5);
    cursor: pointer;;
  }

  &::-ms-thumb {
    width: 2em;
    height: 2em;
    margin-top: 0;
    background-color: white;
    border-radius: 1em;
    border: 2px solid rgba(255,255,255,.5);
    cursor: pointer;;
  }

  &:hover{
    &::-webkit-slider-thumb { border-color: rgba(255,255,255,.7); }
    &::-moz-range-thumb     { border-color: rgba(255,255,255,.7); }
    &::-ms-thumb            { border-color: rgba(255,255,255,.7); }
  }

  //&:focus,
  &:active{
    &::-webkit-slider-thumb { border-color: rgba(255,255,255,1); }
    &::-moz-range-thumb     { border-color: rgba(255,255,255,1); }
    &::-ms-thumb            { border-color: rgba(255,255,255,1); }
  }

  // * * * TRACK * * *

  // .mx-range-track(){
  //   width: 100%;
  //   cursor: pointer;
  //   height: 1em;
  //   border-bottom: 2px solid rgba(255,255,255,.5);
  //   background-color: transparent;
  // }


  &::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    height: 1em;
    border-bottom: 2px solid rgba(255,255,255,.5);
    background-color: transparent;;
  }

  &:focus::-webkit-slider-runnable-track {

  }

  &::-moz-range-track {
    width: 100%;
    cursor: pointer;
    height: 1em;
    border-bottom: 2px solid rgba(255,255,255,.5);
    background-color: transparent;
  }

  &::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  &::-ms-fill-lower {

  }
  &:focus::-ms-fill-lower {

  }
  &::-ms-fill-upper {

  }
  &:focus::-ms-fill-upper {

  }
}

#slider{
  width: 400px;  
}




@media (max-width: 900px) {
  .music-button{
    flex: 1;
    padding: 0.4em;
    position: relative;
    margin: 1px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    // z-index: 0;
  }
  .button-div{
    width: 100%;
  }
  #slider {
    width: 200px;
  }
  .grid {
    width: 90%;
  }
}
