* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("https://wallpapercave.com/wp/wp5315393.png");
  // background-position: center;
  // background: rgb(238,174,202);
  // background: radial-gradient(circle, rgba(238,174,202,1) 14%, rgba(148,187,233,1) 100%);
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  letter-spacing: 1px;

}




@import 
'nav',
'saveSong',
'showIndex',
'loginAndRegister',
'expanding',
'makeASong'
