* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../images/wp5315393.png");
  // background-position: center;
  // background: rgb(238,174,202);
  // background: radial-gradient(circle, rgba(238,174,202,1) 14%, rgba(148,187,233,1) 100%);
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  letter-spacing: 1px;

}
.phoneRotate {
  display: none;
}
@media (max-width: 500px) {
  .phoneRotate{
    margin: 0;
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.445); 
    backdrop-filter: blur(20px);
  }
}


@import 
'nav',
'saveSong',
'showIndex',
'loginAndRegister',
'expanding',
'makeASong'
