* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.testDiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  margin: 0 5px;
}


.clicked {
  background-color: pink;
}

.register-section{
  display: flex;
  justify-content: center;
  width: auto;
}

.register-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 25%;
  align-items: center;
}

.login-section{
  display: flex;
  justify-content: center;
  width: auto;
}

.login-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 25%;
  align-items: center;
}

.grid-parent{
  display: flex;
  justify-content: center;
  width: auto;
}

.grid{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.play-button{
  padding: 8px;
}

.testDiv{
  display: flex;
}

.music-button{
  flex: 1;
  padding: 0.5em;
}

@import 'nav'